<main class="main-landing-page display-flex flex-column flex-layout-center-center">
    <!-- New Books Custom Component -->
    <div class="menu-container width-100" style="margin-top:2.5rem;">
        <h2 class="carousel-title">New Library Titles
        </h2>
        <div id="new-books-1">
            <img src="https://d2jv02qf7xgjwx.cloudfront.net/customers/726/images/Spinner-2.gif" alt="preloader"
                id="library-preloader" />
            <ul id="carousel" class="carousel" aria-live="polite"></ul>
        </div>
    </div>
</main>
